<div class="page-header">
  <h1>
    <% if @teams.status == 1 %>
        <span class="glyphicon glyphicon-plus"></span> Create
    <% else %>
        <span class="glyphicon glyphicon-cog"></span> Manage
    <% end %> your team
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= user_show_path(current_user) %>">My Leagues</a></li>
    <li><a href="<%= league_path(@teams.league) %>"><%= @teams.league.name %></a></li>
    <li class="active"><%= @teams.team_name %></li>
  </ol>
</div>

<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<%= form_for @teams do |t| %>
    <div class="form-group">
      <%= t.label :team_name, 'Name:' %>
      <%= t.text_field :team_name, placeholder: 'Team name', class: 'form-control' %>
    </div>
    <%= t.submit value: (@teams.status == 1 ? 'Create' : 'Update'), class: 'btn btn-success' %>
<% end %>