<div class="page-header">
  <h1>
    <% if @team.status == 1 %>
        <span class="glyphicon glyphicon-plus"></span> Create
    <% else %>
        <span class="glyphicon glyphicon-cog"></span> Manage
    <% end %> your team
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= user_show_path(current_user) %>">My Leagues</a></li>
    <li><a href="<%= league_path(@team.league) %>"><%= @team.league.name %></a></li>
    <li class="active"><%= @team.team_name %></li>
  </ol>
</div>

<%= render partial: 'edit_form', locals: { team: @team } %>