<%= javascript_include_tag 'leagues/fb-invites' %>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-cog"></span> Manage your league</h1>
</div>

<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<%= form_for @league do |l| %>
    <div class="form-group">
      <%= l.label :name, 'Change league name' %>
      <%= l.text_field :name, autofocus: true, placeholder: 'League name', class: 'form-control' %>
    </div>
    <%= l.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Invite friends via Facebook</h3>
    </div>

    <ul id="mfsList" class="list-group scrolling-sponsor-list">
        <a href="#" class="list-group-item" style="text-align: center;">
            <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
            </fb:login-button>
        </a>
    </ul>
</div>

<div id="mfsBtn"></div>
