<div class="page-header">
  <h1><%= @league.name %></h1>
</div>

<table class="table table-responsive table-hoverable">
  <thead>
    <th>Name</th>
    <th>Rank</th>
    <th>Points</th>
  </thead>
  <tbody>
  <% @league.teams.order('points desc').each_with_index do |team, i| %>
      <tr onclick="location.href='<%= team_path(team) %>'">
        <td><%= team.team_name %></td>
        <td><%= i + 1 %></td>
        <td><%= team.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>