<div class="page-header">
  <h1>
    <%= @league.name %>
    <% if @team.is_moderator %>
        &nbsp;<a class="btn btn-default" href="<%= edit_league_path(@league) %>"><span class="glyphicon glyphicon-cog"></span></a>
    <% end %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= user_show_path(current_user) %>">Home</a></li>
    <li class="active"><%= @league.name %></li>
  </ol>
</div>

<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<table class="table table-responsive table-hoverable">
  <thead>
    <th>Name</th>
    <th>Rank</th>
    <th>Points</th>
  </thead>
  <tbody>
  <% @league.teams.order('points desc').each_with_index do |team, i| %>
      <tr onclick="location.href='<%= team_path(team) %>'">
        <td><%= team.team_name %></td>
        <td><%= i + 1 %></td>
        <td><%= team.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>