<div class="page-header">
  <h1><%= @league.name %></h1>
</div>

<table id="politicians-table" class="table table-responsive">
  <thead>
    <th>Name</th>
    <th>Rank</th>
    <th>Points</th>
  </thead>
  <tbody>
  <% @league.league_users.sort{|x,y| x.points <=> y.points }.each_with_index do |lu, i| %>
      <tr onclick="location.href='<%= league_user_path(lu) %>'">
        <td><%= lu.team_name %></td>
        <td><%= i + 1 %></td>
        <td><%= lu.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>