<div class="page-header">
  <h1><%= @league.name %></h1>
</div>

<table id="politicians-table" class="table table-responsive">
  <thead>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Ties</th>
    <th>Points</th>
  </thead>
  <tbody>
  <% @league.league_users.each do |lu| %>
      <tr onclick="location.href='<%= league_user_path(lu) %>'">
        <td><%= lu.team_name %></td>
        <td><%= lu.wins %></td>
        <td><%= lu.losses %></td>
        <td><%= lu.ties %></td>
        <td><%= lu.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>