<div class="page-header">
    <h1><span class="glyphicon glyphicon-home"></span> Home</h1>
</div>

<% unless flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab"><h5>My Teams</h5></a></li>
    <li role="presentation"><a href="#leagues" aria-controls="leagues" role="tab" data-toggle="tab"><h5>My Leagues</h5></a></li>
    <li role="presentation"><a href="#trades" aria-controls="trades" role="tab" data-toggle="tab">
      <h5> My Trades <span class="badge"><%= @pending_trade_count %></span></h5></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="teams">
      <table class="table table-responsive table-hoverable">
        <thead>
        <tr>
          <th>Name</th>
          <th>League</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @eligible_leagues.each do |eligible_league| %>
            <tr>
              <td>
                <%= link_to(eligible_league[:team].team_name, team_path(eligible_league[:team])) %>
              </td>
              <td>
                <%= link_to(eligible_league[:league].name, league_path(eligible_league[:league])) %>
              </td>
              <td>
                  <% if eligible_league[:team].status == 'Invited' %>
                    <span class="label label-warning"><%= eligible_league[:team].status %></span>
                  <% elsif eligible_league[:team].status == 'Active' %>
                    <span class="label label-success"><%= eligible_league[:team].status %></span>
                  <% else %>
                     <span class="label label-default"><%= eligible_league[:team].status %></span>
                  <% end %>
              </td>
            </tr>
        <%  end %>
        </tbody>
      </table>

      <% if 'inviting users' == 'done' %>
          <%= link_to new_league_path, class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span> Create a league
          <% end %>
      <% end %>
    </div>


    <div role="tabpanel" class="tab-pane" id="leagues">
      <% current_user.leagues.each do |l| %>
          <h4><%= l.name %></h4>
          <table class="table table-responsive table-hoverable">
            <thead>
            <th>Team</th>
            <th>Rank</th>
            <th>Points</th>
            </thead>
            <tbody>
            <% l.teams.by_active.order('points desc').each_with_index do |team, i| %>
                <tr onclick="location.href='<%= team_path(team) %>'">
                  <td><%= team.team_name %></td>
                  <td><%= i + 1 %></td>
                  <td><%= team.points %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>


    <div role="tabpanel" class="tab-pane" id="trades">
      <table class="table table-responsive table-hoverable">
        <thead>
        <tr>
          <th>Status</th>
          <th>Team</th>
          <th>Offered by</th>
          <th>League</th>
        </tr>
        </thead>
        <tbody>
        <% current_user.teams.each do |t| %>
            <% t.offered_trades.each do |to| %>
                <tr onclick="location.href='<%= trade_path(to) %>'">
                  <td>
                    <% if to.status == 'Pending' %>
                        <span class="label label-warning"><%= to.status %></span>
                    <% elsif to.status == 'Accepted' %>
                        <span class="label label-success"><%= to.status %></span>
                    <% elsif to.status == 'Rejected' %>
                        <span class="label label-danger"><%= to.status %></span>
                    <% end %>
                  </td>
                  <td><%= Team.find(to.from_team_id).team_name %></td>
                  <td>Them</td>
                  <td><%= League.find(t.league_id).name %></td>
                </tr>
            <% end %>
        <% end %>
        <% current_user.teams.each do |t| %>
            <% t.instigated_trades.each do |tp| %>
                <tr onclick="location.href='<%= trade_path(tp) %>'">
                  <td>
                    <% if tp.status == 'Pending' %>
                        <span class="label label-warning"><%= tp.status %></span>
                    <% elsif tp.status == 'Accepted' %>
                        <span class="label label-success"><%= tp.status %></span>
                    <% elsif tp.status == 'Rejected' %>
                        <span class="label label-danger"><%= tp.status %></span>
                    <% end %>
                  </td>
                  <td><%= Team.find(tp.to_team_id).team_name %></td>
                  <td>You</td>
                  <td><%= League.find(t.league_id).name %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

