<div class="page-header">

    <h1><span class="glyphicon glyphicon-home"></span> My Leagues</h1>
  <ol class="breadcrumb">
    <li class="active">My Leagues</li>
  </ol>
</div>

<% unless flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<table class="table table-responsive table-hoverable">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @eligible_leagues.each do |eligible_league| %>
        <% if eligible_league[:team].status == 1 %>
          <tr onclick="location.href='<%= edit_team_path(eligible_league[:team]) %>'">
            <td>(INVITE) <%= eligible_league[:league].name %></td>
          </tr>
        <% else %>
          <tr onclick="location.href='<%= league_path(eligible_league[:league]) %>'">
            <td><%= eligible_league[:league].name %></td>
          </tr>
        <% end %>
      <%  end %>
  </tbody>
</table>

<%= link_to new_league_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span> Create a league
<% end %>

<h3>My Trades</h3>
<table class="table table-responsive table-hoverable">
  <thead>
  <tr>
    <th>League</th>
    <th>Team</th>
    <th>Offered by</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.teams.each do |t| %>
    <% t.offered_trades.each do |to| %>
      <tr onclick="location.href='<%= trade_path(to) %>'">
        <td><%= League.find(t.league_id).name %></td>
        <td><%= Team.find(to.from_team_id).team_name %></td>
        <td>Them</td>
        <td><%= to.status %></td>
      </tr>
    <% end %>
  <% end %>
  <% current_user.teams.each do |t| %>
      <% t.initiated_trades.each do |tp| %>
          <tr onclick="location.href='<%= trade_path(tp) %>'">
            <td><%= League.find(t.league_id).name %></td>
            <td><%= Team.find(tp.to_team_id).team_name %></td>
            <td>You</td>
            <td><%= tp.status %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

