<div class="page-header">
  <h1>Bills</h1>
</div>

<table id="politicians-table" class="table table-responsive">
  <thead>
  <tr>
    <th>Bill Number</th>
    <th>Official Title</th>
    <th>Date of Introduction</th>
    <th>Passed</th>
  </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
      <tr onclick="location.href='<%= bill_path(bill) %>'">
        <td><%= bill.bill_number %></td>
        <td><%= bill.official_title %></td>
        <td><%= bill.introduced_on %></td>
        <td><%= bill.passed ? 'Yes' : 'No' %></td>
      </tr>
  <% end %>
  </tbody>
</table>