<div class="page-header">
  <h1><span class="glyphicon glyphicon-file"></span> Bills</h1>
</div>

<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<table class="table table-responsive table-hoverable">
  <thead>
  <tr>
    <th>Bill Number</th>
    <th>Official Title</th>
    <th>Date of Introduction</th>
    <th>Passed</th>
  </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
      <tr onclick="location.href='<%= bill_path(bill) %>'">
        <td><%= bill.bill_number.upcase %></td>
        <td><%= bill.official_title %></td>
        <td><%= bill.introduced_on %></td>
        <td><%= bill.passed ? 'Yes' : 'No' %></td>
      </tr>
  <% end %>
  </tbody>
</table>