<div class="page-header">
  <h1><%= @league_user.team_name %></h1>
</div>

<table id="politicians-table" class="table table-responsive">
  <thead>
  <tr>
    <th>Politician</th>
    <th>Party</th>
    <th>State</th>
    <th>Chamber</th>
    <th>Points</th>
  </tr>
  </thead>
  <tbody>
  <% @league_user.politicians.each do |p| %>
      <tr onclick="location.href='<%= politician_path(p) %>'">
        <td><%= "#{p.first_name} #{p.last_name}" %></td>
        <td><%= p.party %></td>
        <td><%= p.state %></td>
        <td><%= p.chamber %></td>
        <td><%= p.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>