<div class="page-header">
    <h1><span class="glyphicon glyphicon-log-in"></span> Log in</h1>
</div>

<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="alert alert-warning">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>

<div class="devise-form-fields">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
        </div>
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
    <% end %>

    <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
</div>
