<div class="page-header">
  <h1>Politicians</h1>
</div>

<table id="politicians-table" class="table table-responsive">
  <thead>
    <tr>
        <th>Name</th>
        <th>Party</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @politicians.each do |p| %>
        <tr>
          <td><%= "#{p.first_name} #{p.last_name}" %></td>
          <td><%= p.state %></td>
          <td><%= p.party %></td>
          <td><%= p.chamber %></td>
          <td><%= p.points %></td>
        </tr>
    <% end %>
  </tbody>
</table>