<div class="page-header">
  <h1><%= "#{@politician.first_name} #{@politician.last_name}" %> <small>(<%= @politician.party %>&#8211;<%= state_name @politician.state %>)</small></h1>
  <% unless @politician.leadership_role.nil? %>
      <h3><%= @politician.leadership_role %></h3>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsored bills</h3>
  </div>

  <ul class="list-group scrolling-sponsor-list">
    <% if @politician.sponsors.any? %>
        <% @politician.sponsors.each do |sponsor| %>
            <a href="<%= bill_path(sponsor.bill) %>" class="list-group-item"><%= sponsor.bill.bill_number.upcase %></a>
        <% end %>
    <% else %>
        <a href="#" class="list-group-item" style="text-align: center;">No bills to display</a>
    <% end %>
  </ul>
</div>