<div class="page-header">
  <h1><%= "Create Trade with #{@to_team.team_name}" %></h1>
</div>

<% form_for @trade do |t| %>
    <div>
      <h2><%= "Select players from team #{@to_team.team_name} that you wish to acquire:" %></h2>
    </div>
    <table class="table table-responsive table-hoverable">
      <thead>
      <tr>
        <th>Politician</th>
        <th>Party</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Points</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <% @to_team.rosters.each do |r| %>
        <% t.fields_for @trade.trade_rosters do |tr| %>
          <tr>
            <td><%= "#{r.politician.first_name} #{r.politician.last_name}" %></td>
            <td><%= r.politician.party %></td>
            <td><%= state_name(r.politician.state) %></td>
            <td><%= r.politician.chamber.capitalize %></td>
            <td><%= r.politician.points %></td>
            <td><%= tr.check_box('roster_id', checked_value = r.id) %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <div>
      <h2><%= 'Select players from your team to offer:' %></h2>
    </div>
    <table class="table table-responsive table-hoverable">
      <thead>
      <tr>
        <th>Politician</th>
        <th>Party</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Points</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <% @from_team.rosters.each do |r| %>
          <tr>
            <td><%= "#{r.politician.first_name} #{r.politician.last_name}" %></td>
            <td><%= r.politician.party %></td>
            <td><%= state_name(r.politician.state) %></td>
            <td><%= r.politician.chamber.capitalize %></td>
            <td><%= r.politician.points %></td>
            <td><%= check_box(t.trade_rosters.roster_id, r.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= button_to "Create", :action => "create", :remote => true, :form => { "data-type" => "json" } %>