<div class="page-header">
  <h1><%= "Create Trade with #{@to_team.team_name}" %></h1>
</div>

<%= form_tag({:action => 'create'}) do %>
    <div>
      <h3><%= "Select players from team #{@to_team.team_name} that you wish to acquire:" %></h3>
    </div>
    <table class="table table-responsive table-hoverable">
      <thead>
      <tr>
        <th>Politician</th>
        <th>Party</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Points</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <%= hidden_field_tag 'to_team_id', @to_team.id %>
      <% @to_team.rosters.each do |r| %>
          <tr>
            <td><%= "#{r.politician.first_name} #{r.politician.last_name}" %></td>
            <td><%= r.politician.party %></td>
            <td><%= state_name(r.politician.state) %></td>
            <td><%= r.politician.chamber.capitalize %></td>
            <td><%= r.politician.points %></td>
            <td><%= check_box_tag 'roster_ids[]', r.id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div>
      <h3>Select players from your team to offer:</h3>
    </div>
    <table class="table table-responsive table-hoverable">
      <thead>
      <tr>
        <th>Politician</th>
        <th>Party</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Points</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <%= hidden_field_tag 'from_team_id', @from_team.id %>
      <% @from_team.rosters.each do |r| %>
          <tr>
            <td><%= "#{r.politician.first_name} #{r.politician.last_name}" %></td>
            <td><%= r.politician.party %></td>
            <td><%= state_name(r.politician.state) %></td>
            <td><%= r.politician.chamber.capitalize %></td>
            <td><%= r.politician.points %></td>
            <td><%= check_box_tag 'roster_ids[]', r.id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= submit_tag('Propose Trade', class: 'btn btn-primary')  %>
<% end %>