<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="<%= root_path %>"><%= image_tag 'logo.png' %></a>
    </li>
    <% if user_signed_in? %>
        <li>
          <a href="<%= user_show_path(current_user) %>"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="<%= bills_path %>"><span class="glyphicon glyphicon-file"></span> Bills</a>
        </li>
        <li>
          <a href="<%= politicians_path %>"><span class="glyphicon glyphicon-user"></span> Politicians</a>
        </li>
        <li>
          <a data-method="delete" href="<%= destroy_user_session_path %>"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
        </li>
    <% else %>
        <li>
          <a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
        </li>
        <li>
          <a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-new-window"></span> Sign up</a>
        </li>
    <% end %>
  </ul>
</div>