<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Politics</title>
  <meta property="og:title" content="Fantasy Politics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= params[:working_url] %>" />

  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= content_for :stylesheets %>

  <%= javascript_include_tag 'application' %>
  <%= content_for :javascripts %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
